In [1]:
!python -m pip install -q wheel tensorflow annoy apache_beam scikit-learn

In [2]:
import numpy as np
import pandas as pd
#import tensorflow as tf

In [3]:
# results_csv = tf.keras.utils.get_file('results.csv','https://docs.google.com/spreadsheets/d/1Ov9i-0eGY3yWSoVd68e57EJIy7DhpT0AUROOI8bLG8k/edit?usp=sharing')
static_economic = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vShRFRLg6w_R9X-RxFJzPzTm2WT0RGbT0aUKYPl3mDuAqCJpQWG0rtnOMWRcIim5jJ63Y6ZMQ_zBlwY/pub?output=csv')
static_economic.head()

,Publisher,Title,Continues,Call Number,Bound Holdings,Unbound Holdings
0,Aarhus University,Okonomisk Institut Memo,(continued by: Aarhus University - Working Paper),HG1.M456,#1994-21 - 1997-14,2000+
1,Aarhus University,Working paper,(continues:Aarhus University - Okonomisk Insti...,NaN,no bound holdings,1975+
2,African Economic Research Consortium,AERC Research Papers,NaN,HC800.A1 R423,#1(1990)- 284 (2014); lacks many issues,1997+
3,African Economic Research Consortium,AERC Special Papers,NaN,NaN,"#12 - #44 (cataloged separately, lacks many)",1997+
4,University of Alberta School of Business,Western Centre for Economic Research - Informa...,NaN,NaN,no bound holdings,1990+

[Word Embedding](https://www.tensorflow.org/text/guide/word_embeddings)

In [4]:
import io
import os
import re
import shutil
import string
# import tensorflow as tf
# from tensorflow.keras import Sequential
# from tensorflow.keras.layers import Dense, Embedding, GlobalAveragePooling1D
# from tensorflow.keras.layers import TextVectorization

Use the embedding layer